/************* GENERIC  *****************/
a {color:#0d0d0e;}
img {width:100%;}
.twhite {color:rgb(228, 17, 17)!important;}
/************* TOP-HEAD *****************/
.top-head ul li {padding-right:8px;}

h2{
    font-size: 50px;
    color: #050505;
}

p{
    font-size: 25px;
}


.container1{
    background-color: #3773ac;
    width: 1348px;
}

.logo{
    height: 120px;
}

.curso{
    font-family: cursive;
    font-size: 40px;
    color: #0c0c0c;
}

.inisesion{
    font-size: 18px;
    font-family: Verdana;
    float: right;
    background-color: #3b976c;
    margin-top: 40px;
}

.fotoinicio{
    width: 1347px;
    height: 500px;
}
/****************** Navigation **************/
.navbar-toggler {border-color: #3773ac;}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(221, 0, 0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/**************** Banner Slider Carousel **************/
.carousel-inner img {width: 100%;}
.carousel-caption {color:#000;top:110px; bottom: auto; text-align:left;}
.carousel-caption h1 { color:#3773ac; background-color:#;}
/************ Services **************/
.most-car-box:hover {background: ; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
/*********** TABS *******/
.nav-tabs { border-bottom: 1px solid rgb(241, 156, 156); }
.nav-tabs .nav-link.active {
    border-bottom: 1px solid #3773ac;
    border-radius:0px;
}
/**************** Social ICONS ***************/
/* Social Icons */

.social-icons{margin: 0;padding: 0; font-size : 10px;}
.social {margin:7px 7px 7px 0px;}
#social-fb:hover {color: #3B5998;transition:all .25s;}
 #social-tw:hover {color: #4099FF;transition:all .25s;}
 #social-gp:hover {color: #d34836;transition:all .25s;}
 #social-em:hover {color: #f39c12;transition:all .25s;}
