<div class="wrapper fadeInDown">
    <div id="formContent">
       <!--Tabs Titles -->
  
      <!-- Icon--> 
      <div class="fadeIn first">
        <img src="assets/logo.jpg" id="icon" alt="User Icon" />
      </div>
      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
          <input type="text" id="nombre" class="fadeIn third"  placeholder="Nombre de usuario" formControlName="nombreusuario">
          <input type="password" id="password" class="fadeIn third" placeholder="Contraseña" formControlName="password">
        
          <input type="submit" class="fadeIn fourth" (click)=onNavigate() value="Iniciar Sesión">
      </form>

      <div id="formFooter">
          <p>Si no tienes una cuenta <a class="underlineHover" href="registro">Registrate</a></p>

      </div>

    </div>
  </div>
  