extends layout

block content
    div#ContenidoAdmin
        button.Btn-Cursos
            a(href="/Crud") Agregar Curso 
        button.Btn-Cursos
            a(href="") Eliminar Curso
        button.Btn-Cursos
            a(href="") Modificar Curso    